<!DOCTYPE html>
<html>
  <head>
    <title>Your short url with shre.xyz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
      <div class="credits">
        Create by <a href="alessandrostein.com">alessandrostein</a>
      </div>
    </div>
  </body>
</html>
